body {
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/*    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 0%, rgba(209, 209, 209, 1) 100%);*/
    display: grid;
    grid-template-rows: 50px 1fr;
}

.header {
    background-color: #333;
    display: flex;
    align-items: center;
}

.note-icon {
    width: 30px;
    height: 30px;
    stroke: white;
    margin-left: 20px;
    cursor: pointer;
}

.container {
    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 0%, rgba(209, 209, 209, 1) 100%);
}
