@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<a asp-controller="StudentPortal"  asp-action="Index">
    Student Portal
</a>


<a asp-controller="StaffPortal"  asp-action="Index">
    Staff Portal
</a>


<a asp-controller="DepartmentPortal" asp-action="Index">
    Department Portal
</a>

<a asp-controller="CoursePortal" asp-action="Index">
Course Portal
</a>


